__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.tox
.coverage
.coverage.*
.cache
.git
.pytest_cache
.hypothesis
.idea
.ipynb_checkpoints
inference.py
data.zip
data
*.html
*.ipynb
.gitignore
.gitattributes
.dockerignore
details.json
Dockerfile
*.md
mywork
llm